<div class="container text-center">
  <form>
    <div class="form-group">
      <label for="feature">Select a feature:</label>
      <select name="feature" id="feature" [(ngModel)]="selectedFeature" class="form-control"
        (change)="makeApiCall(selectedFeature, selectedUser)">
        <option [value]="feat.id" *ngFor="let feat of features">{{feat.displayName}}</option>
      </select>
    </div>
    <div class="form-group">
        <label for="user">Select a user:</label>
        <select name="user" id="user" [(ngModel)]="selectedUser" class="form-control"
          (change)="makeApiCall(selectedFeature, selectedUser)">
          <option [value]="user.id" *ngFor="let user of users">{{user.name}}</option>
        </select>
    </div>
  </form>

  <h1 class="display-2" *ngIf="selectedFeature === 'groupSalary'">Group salary: {{groupSalary.salary}}</h1>

  <table class="table table-dark" *ngIf="selectedFeature === 'uplineDetails'">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Salary</th>
        <th scope="col">Parent ID</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of uplineDetails">
        <th scope="row">{{item.id}}</th>
        <td>{{item.name}}</td>
        <td>{{item.salary}}</td>
        <td>{{item.parentId}}</td>
      </tr>
    </tbody>
  </table>
</div>
